.container {
  display: flex;
  flex-direction: column;
  grid-gap: 20px;
  padding: 50px;
  .infoHead {
    display: flex;
    grid-gap: 20px;
    .image {
      width: 50%;
      .movieInfoImage {
        width: 100%;
      }
    }
  }
  .detail {
    display: flex;
    flex-direction: column;
    grid-gap: 20px;
    padding: 30px;
    width: 50%;
    .head {
      display: flex;
      justify-content: space-between;
    }
    .companies,
    .genres {
      display: flex;
      flex-wrap: wrap;
      p + p::before {
        content: ", ";
      }
      .componiesHead {
        color: #353d40;
        margin-right: 10px;
      }
    }
  }
  .voteAndCount {
    display: flex;
    justify-content: space-between;
    align-items: center;
    grid-gap: 15px;
    .vote,
    .count {
      text-align: end;
      color: #353d40;
    }
  }
  .summary {
    .summaryHead {
      margin-bottom: 10px;
    }
    p {
      text-align: justify;
    }
  }
}
@media (max-width: 1000px) {
  .image {
    width: 100% !important;
  }
  .detail {
    padding: 0 !important;
    width: 100% !important;
  }
  .infoHead {
    flex-direction: column;
  }
}
