.container {
  background-color: #f2b138;
  font-weight: 600;
  width: 100%;
  .content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 90px;
    .logo {
      font-size: 28px;
    }
    .menu {
      .items {
        display: flex;
        grid-gap: 70px;
        .item {
          font-size: 18px;
        }
      }
    }
  }
}
@media (max-width: 400px) {
  .items {
    grid-gap: 15px !important;
  }
}
