@font-face {
  font-family: "Eudoxus Sans";
  src: url("./assets/font/EudoxusSans-Medium.ttf");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Eudoxus Sans";
}
body::-webkit-scrollbar {
  width: 5px;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
body::-webkit-scrollbar-thumb {
  background: #003f63;
}
a {
  text-decoration: none;
  color: #003f63;
}
ul,
li {
  list-style-type: none;
}
.container {
  display: flex;
  flex-direction: column;
  .content {
    display: flex;
    justify-content: center;
    min-height: 100vh;
  }
}
